<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Cargador de archivos - filetranfers.com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Cargador de archivos</h2>
                    <h4>LaComarcaSoft 2017</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <button class="btn btn-lg upload-btn" type="button">Cargar archivo</button>
                    <br>
                    <br>
                    <p id="result"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="upload-input" type="file" name="uploads[]" multiple="multiple" style="display: none"></br>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/upload.js"></script>
</body>
</html>